.calendar {
	display: flex;
	flex-direction: column;
}

.calendar > div:first-child {
	background: unset;
	display: flex;
}

.calendar > div {
	background: var(--dark-color);
	color: var(--light-color);
}

.calendar > div {
	text-align: center;
}

.calendar button {
	padding: 0.5rem;
	border: 0;
}

.calendar button:hover {
	background: var(--dark-color);
	color: var(--light-color);

	cursor: pointer;
}
