.image {
	height: 350px;
	margin-left: auto;
}

.section {
	display: flex;
	justify-content: flex-end;
	height: 100lvh;
	align-items: center;
	position: relative;
}

.content {
	display: flex;
	flex-wrap: wrap;

	padding: 3rem;
	width: 400px;

	font-size: 2rem;

	margin-left: 2rem;
}
