@import url(@lib/styles.css);

:root {
	--font-family: 'Open sans', sans-serif;
}

* {
	font-family: var(--font-family);
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	overflow: hidden;
}

body > .blocker {
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	inset: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	font-size: 2rem;
}
